[submodule "docs/examples-advanced"]
	path = docs/examples-advanced
	url = https://github.com/cytoflow/cytoflow-examples.git


[submodule "fcsparser"]
	path = fcsparser
	url = https://github.com/cytoflow/fcsparser.git
	branch = cytoflow1.2
[submodule "sklearn-som"]
	path = sklearn-som
	url = git@github.com:bpteague/sklearn-som.git
