[submodule "docs/examples-advanced"]
	path = docs/examples-advanced
	url = https://github.com/bpteague/cytoflow-examples.git
[submodule "packaging/pyinstaller"]
	path = packaging/pyinstaller
	url = https://github.com/bjones1/pyinstaller.git
	branch = develop
