language: python

sudo: false

addons:
  apt:
    packages:
    - g++
    - swig
    - python-qt4
    
python:
  - "2.7"

install:
  - echo "version `$CXX --version`"

  # i'm not quite clear on why this has to be installed directly, instead
  # of as a dependency of, say, pandas.  something to do with wanting you to
  # use a pre-packaged version, which is more likely to have a non-broken linear
  # algebra library?
  - pip install numpy
  
  - python setup.py develop

# command to run tests
script: nosetests

on_success:

  # TODO: upload the content of dist/*.whl to a public wheelhouse
  - pip install wheel
  - python setup.py bdist_wheel