include README.*
include *.txt

include docs/*.rst
recursive-include docs/examples-basic *.ipynb *.fcs
include docs/examples-advanced/README.md

include cytoflow/utility/logicle_ext/LICENSE.txt
include cytoflow/utility/logicle_ext/logicle.h
include cytoflowgui/preferences.ini
include cytoflowgui/images/*
include cytoflowgui/op_plugins/images/*
include cytoflowgui/view_plugins/images/*
include cytoflowgui/editors/images/*
include cytoflowgui/help/operations/*.html
include cytoflowgui/help/views/*.html
include cytoflowgui/help/_images/*.png
include cytoflowgui/help/_static/*
