pandas>=0.20.2
bottleneck>=1.2.1
numpy>=1.13.1
numexpr>=2.6.2
matplotlib>=2.0.2
scipy>=0.19.1
scikit-learn>=0.18.2
seaborn>=0.7.1
traits>=4.6.0
pyface==5.1.0
envisage>=4.6.0
nbformat>=4.3.0
python-dateutil>=2.6.0
statsmodels>=0.8.0

# not in conda
fcsparser>=0.1.3
