<section class="page-header">
  <h1 class="project-name">{{ site.title }}</h1>
  <h2 class="project-tagline">{{ site.tagline }}</h2>
  <a href="https://bintray.com/bpteague/cytoflow/download_file?file_path={{ site.version }}%2Fcytoflow-64.exe" class="btn">Download v{{ site.version }} for Windows (64 bit)</a>
  <a href="https://bintray.com/bpteague/cytoflow/download_file?file_path={{ site.version }}%2Fcytoflow.macos.zip" class="btn">Download v{{ site.version }} for Mac (10.7+)</a>
  <a href="https://bintray.com/bpteague/cytoflow/download_file?file_path={{ site.version }}%2Fcytoflow-linux.x86_64" class="btn">Download v{{ site.version }} for Linux (64 bit)</a>
  <a href="http://cytoflow.readthedocs.io/" class="btn">Developer Documentation</a>
</section>
