<section class="page-header">
  <h1 class="project-name">{{ site.title }}</h1>
  <h2 class="project-tagline">{{ site.tagline }}</h2>
  <a href="https://github.com/bpteague/cytoflow/releases/download/{{ site.version }}/cytoflow-installer-{{ site.version }}-win-amd64.exe" class="btn">Download v{{ site.version }} for Windows (64 bit)</a>
  <a href="https://github.com/bpteague/cytoflow/releases/download/{{ site.version }}/cytoflow-{{ site.version }}.macos.zip" class="btn">Download v{{ site.version }} for Mac (10.7+)</a>
  <a href="https://github.com/bpteague/cytoflow/releases/download/{{ site.version }}/cytoflow-{{ site.version }}.linux_x86-64.tar.gz" class="btn">Download v{{ site.version }} for Linux (64 bit)</a>
  <a href="http://cytoflow.readthedocs.io/" class="btn">Developer Documentation</a>
</section>
