<section class="page-header">
  <h1 class="project-name">{{ site.title }}</h1>
  <h2 class="project-tagline">{{ site.tagline }}</h2>
  <a href="https://bintray.com/bpteague/cytoflow/download_file?file_path=cytoflow.exe" class="btn">Download for Windows</a>
  <a href="https://bintray.com/bpteague/cytoflow/download_file?file_path=cytoflow.macos.zip" class="btn">Download for Mac</a>
  <a href="https://bintray.com/bpteague/cytoflow/download_file?file_path=cytoflow.linux.x86_64" class="btn">Download for Linux</a>
  <a href="http://cytoflow.readthedocs.io/" class="btn">Developer Documentation</a>
</section>
