pandas>=0.20.3
bottleneck
numpy
numexpr>=2.6.1
matplotlib>=1.5.1
scipy>=0.18.1
scikit-learn>=0.18.1
traits==4.6.0
traitsui==5.1.0
pyface==5.1.0
nbformat==4.2.0
python-dateutil==2.6.0
statsmodels>=0.6.1
pyqt<5.0
python>=3.4