pandas==0.18.1
bottleneck==1.1.0
numpy==1.11.1
numexpr==2.6.1
matplotlib==1.5.1
scipy==0.18.1
scikit-learn==0.17.1
seaborn==0.7.1
pyface==4.4.0
envisage==4.4.0
nbformat==4.1.0
python-dateutil==2.5.3
statsmodels==0.6.1
faulthandler==2.4
qt==4.8.7
