pandas==0.20.1
bottleneck==1.2.1
numpy==1.11.3
numexpr==2.6.2
matplotlib==1.5.1
scipy==0.19.0
scikit-learn==0.18.1
seaborn==0.7.1
traits==4.6.0
traitsui==5.1.0
pyface==5.1.0
nbformat==4.3.0
python-dateutil==2.6.0
statsmodels==0.8.0
pyqt==4.11.4
qt==4.8.7
