# (c) Massachusetts Institute of Technology 2015-2018
# (c) Brian Teague 2018-2022
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 2 of the License, or
# (at your option) any later version.
# 
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.

name: Release a new package (MacOS ARM)
on:
  repository_dispatch:
    types: [create-release-builds]
jobs:
  build-macos-conda-package:
    name: Build and upload MacOS ARM conda package
    runs-on: macos-14
    defaults:
      run:
        shell: bash -l {0}
    steps:
    - name: Check out repo
      uses: actions/checkout@v4.2.2
      with:
        ref: ${{ github.event.client_payload.ref }}
        fetch-depth: 0
        submodules: true
        
    - name: Query git tag
      id: tag
      run: echo "GIT_TAG=$(git describe --tags)" >> $GITHUB_ENV
        
    - name: Show Tag
      id: display
      run: |
        echo "Output from Find Tag: ${GIT_TAG}"
      
    - name: Setup Miniconda
      uses: conda-incubator/setup-miniconda@v3.2.0
      with:
        auto-update-conda: true
        channels: cytoflow
        activate-environment: cytoflow
        environment-file: environment-ci.yml
        
    - name: Build conda package
      run: |
        conda render package/conda_recipes/cytoflow
        conda build --quiet package/conda_recipes/cytoflow
        
    - name: Move conda package into the dist folder
      run: |
        mkdir dist
        mv `conda build --output package/conda_recipes/cytoflow/` dist
        
    - name: List dist
      run: ls dist/
      
    - name: Get file names
      id: get_filenames
      run: |
        cd dist
        echo "CONDA_PACKAGE=$(ls cytoflow*.conda)" >> $GITHUB_ENV 

    - name: Show file name
      run: |
        echo 'Output from get_filename: ${CONDA_PACKAGE}'
         
#     - name: Upload the conda package to the GitHub release
#       uses: actions/upload-release-asset@v1.0.2
#       env:
#         GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#       with:
#         upload_url: ${{ github.event.client_payload.release_url }} 
#         asset_path: dist/${CONDA_PACKAGE}
#         asset_name: cytoflow-conda-${GIT_TAG}-macos.tar.bz2
#         asset_content_type: application/x-bzip2
         
    - name: Upload the conda package to anaconda.org
      run: |
        anaconda logout
        anaconda login --username ${{ secrets.CONDA_USERNAME }} --password ${{ secrets.CONDA_PASSWORD }}
        anaconda upload --user cytoflow dist/$CONDA_PACKAGE
        anaconda logout

  build-macos-wheels:
    name: Build MacOS ARM wheel, extension
    runs-on: macos-14
    defaults:
      run:
        shell: bash -l {0}
    steps:
    - name: Check out repo
      uses: actions/checkout@v4.2.2  
      with:
        ref: ${{ github.event.client_payload.ref }}
        fetch-depth: 0
        submodules: true
      
    - name: Setup Miniconda
      uses: conda-incubator/setup-miniconda@v3.2.0
      with:
        auto-update-conda: true
        channels: cytoflow
        activate-environment: cytoflow
        environment-file: environment-ci.yml
        
    - name: Install packaging deps
      run: |
        pip install build
            
    - name: Install package locally
      run: |
        pip install --editable .
        
    - name: Build wheel
      run: |
        python -m build --wheel
        
    - name: Move C++ extensions into the dist folder
      run: |
        cp `find build | grep "\.so$"` dist/
        
    - name: List dist
      run: ls dist/
      
    - name: Get file names
      id: get_filenames
      run: |
        cd dist
        mv `ls _Logicle*.so` _Logicle-macos-arm64.so
        echo "EXTENSION_FILE=$(ls _Logicle*.so)" >> $GITHUB_OUTPUT
        echo "WHEEL_FILE=$(ls cytoflow*.whl)" >> $GITHUB_OUTPUT

    - name: Upload the MacOS extension to the GitHub release
      uses: actions/upload-release-asset@v1.0.2
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ github.event.client_payload.release_url }} 
        asset_path: dist/${{ steps.get_filenames.outputs.EXTENSION_FILE }}
        asset_name: ${{ steps.get_filenames.outputs.EXTENSION_FILE }}
        asset_content_type: application/x-sharedlib
 
    - name: Upload the MacOS wheel to the GitHub release
      uses: actions/upload-release-asset@v1.0.2
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ github.event.client_payload.release_url }} 
        asset_path: dist/${{ steps.get_filenames.outputs.WHEEL_FILE }}
        asset_name: ${{ steps.get_filenames.outputs.WHEEL_FILE }}
        asset_content_type: application/zip       
 
        
  build-macos-oneclick:
    name: Build MacOS ARM one-click
    runs-on: macos-14
    defaults:
      run:
        shell: bash -l {0}
    steps:
    - name: Check out repo
      uses: actions/checkout@v4.2.2  
      with:
        ref: ${{ github.event.client_payload.ref }}
        fetch-depth: 0
        submodules: true
        
    - name: Query git tag
      id: tag
      run: echo "GIT_TAG=$(git describe --tags)" >> $GITHUB_ENV
        
    - name: Show Tag
      id: display
      run: |
        echo "Output from Find Tag: ${GIT_TAG}"
      
    - name: Setup Miniconda
      uses: conda-incubator/setup-miniconda@v3.2.0
      with:
        auto-update-conda: true
        channels: cytoflow
        activate-environment: cytoflow
        environment-file: environment-ci.yml
            
    - name: Install package locally
      run: |
        pip install --editable .
        
    - name: Install packaging deps
      run: |
        conda install --yes --quiet sphinx pandoc
        pip install pyinstaller
        
    - name: Build embedded help docs
      run: |
        sphinx-build docs/user_manual/reference cytoflowgui/help
        
    - name: Build GUI binary
      run: |
        pyinstaller package/pyinstaller.spec
        
    - name: List dist
      run: ls dist/
        
    - name: Rename and zip Mac app
      id: zip_tarball
      run: |
        cd dist/
        mv Cytoflow.app Cytoflow-${GIT_TAG}.app
        zip -r cytoflow-gui-${GIT_TAG}-macos_arm64.zip Cytoflow-${GIT_TAG}.app/
        rm -rf Cytoflow-${GIT_TAG}.app cytoflow
        echo "GUI_FILE=cytoflow-gui-${GIT_TAG}-macos_arm64.zip" >> $GITHUB_OUTPUT
        
    - name: List dist
      run: ls dist/
      
    - name: Upload the point-and-click tarball to the GitHub release
      uses: actions/upload-release-asset@v1.0.2
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ github.event.client_payload.release_url }} 
        asset_path: dist/${{ steps.zip_tarball.outputs.GUI_FILE }}
        asset_name: ${{ steps.zip_tarball.outputs.GUI_FILE }}
        asset_content_type: application/zip