# (c) Massachusetts Institute of Technology 2015-2018
# (c) Brian Teague 2018-2022
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 2 of the License, or
# (at your option) any later version.
# 
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.

name: Release a new package (MacOS)
on:
  repository_dispatch:
    types: [builds]
jobs:
  build-macos-conda-package:
    name: Build and upload MacOS conda package
    runs-on: macos-13
    defaults:
      run:
        shell: bash -l {0}
    steps:
    - name: Check out repo
      uses: actions/checkout@v2
      with:
        ref: ${{ github.event.client_payload.ref }}
        fetch-depth: 0
        submodules: true
        
    - name: Query git tag
      id: tag
      run: echo "::set-output name=tag::$(git describe --tags)"
       
    - name: Show Tag
      id: display
      run: |
        echo 'Output from Find Tag: ${{steps.tag.outputs.tag}}'
      
    - name: Setup Miniconda
      uses: conda-incubator/setup-miniconda@v3.0.4
      with:
        auto-update-conda: true
        activate-environment: cytoflow
        environment-file: environment.yml

    - name: Configure conda
      run: |
        conda install --yes --quiet swig==4.0.2 anaconda-client conda-build conda-verify
        
    - name: Build conda package
      run: |
        conda render package/conda_recipes/cytoflow
        conda build --quiet package/conda_recipes/cytoflow
        
    - name: Move conda package into the dist folder
      run: |
        mkdir dist
        python package/move_conda_package.py
        
    - name: List dist
      run: ls dist/
      
    - name: Get file names
      id: get_filenames
      run: |
        cd dist
        echo "::set-output name=conda_package::$(ls cytoflow*.bz2)"        

    - name: Show file name
      run: |
        echo 'Output from get_filename: ${{steps.get_filenames.outputs.conda_package}}'
         
    - name: Upload the conda package to the GitHub release
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ github.event.client_payload.release_url }} 
        asset_path: dist/${{ steps.get_filenames.outputs.conda_package }}
        asset_name: cytoflow-conda-${{ steps.tag.outputs.tag }}-macos.tar.bz2
        asset_content_type: application/x-bzip2
         
    - name: Upload the conda package to anaconda.org
      run: |
        anaconda login --username ${{ secrets.CONDA_USERNAME }} --password ${{ secrets.CONDA_PASSWORD }}
        anaconda upload --user cytoflow dist/${{ steps.get_filenames.outputs.conda_package }}
        anaconda logout

  build-macos-wheels:
    name: Build MacOS wheel, extension
    runs-on: macos-13
    defaults:
      run:
        shell: bash -l {0}
    steps:
    - name: Check out repo
      uses: actions/checkout@v2  
      with:
        ref: ${{ github.event.client_payload.ref }}
        fetch-depth: 0
        submodules: true
      
    - name: Setup Miniconda
      uses: conda-incubator/setup-miniconda@v3.0.4
      with:
        auto-update-conda: true
        activate-environment: cytoflow
        environment-file: environment.yml
        
    - name: Configure conda
      run: |
        conda install --yes --quiet swig==4.0.2 pip
        
    - name: Install packaging deps
      run: |
        pip install build
            
    - name: Install package locally
      run: |
        python setup.py build_ext --inplace
        
    - name: Build wheel
      run: |
        python -m build --wheel
        
    - name: Move C++ extensions into the dist folder
      run: |
        cp `find build | grep "\.so$"` dist/
        
    - name: List dist
      run: ls dist/
      
    - name: Get file names
      id: get_filenames
      run: |
        cd dist
        echo "::set-output name=extension::$(ls _Logicle*.so)"
        echo "::set-output name=wheel::$(ls cytoflow*.whl)"

    - name: Upload the MacOS extension to the GitHub release
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ github.event.client_payload.release_url }} 
        asset_path: dist/${{ steps.get_filenames.outputs.extension }}
        asset_name: ${{ steps.get_filenames.outputs.extension }}
        asset_content_type: application/x-sharedlib
 
    - name: Upload the MacOS wheel to the GitHub release
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ github.event.client_payload.release_url }} 
        asset_path: dist/${{ steps.get_filenames.outputs.wheel }}
        asset_name: ${{ steps.get_filenames.outputs.wheel }}
        asset_content_type: application/zip       
 
        
  build-macos-oneclick:
    name: Build macos one-click
    runs-on: macos-13
    defaults:
      run:
        shell: bash -l {0}
    steps:
    - name: Check out repo
      uses: actions/checkout@v2  
      with:
        ref: ${{ github.event.client_payload.ref }}
        fetch-depth: 0
        submodules: true
        
    - name: Query git tag
      id: tag
      run: echo "::set-output name=tag::$(git describe --tags)"
        
    - name: Show Tag
      id: display
      run: |
        echo 'Output from Find Tag: ${{steps.tag.outputs.tag}}'
      
    - name: Setup Miniconda
      uses: conda-incubator/setup-miniconda@v3.0.4
      with:
        auto-update-conda: true
        activate-environment: cytoflow
        environment-file: environment.yml
         
    - name: Configure conda
      run: |
        conda install --yes --quiet swig==4.0.2
            
    - name: Install package locally
      run: |
        python setup.py build_ext --inplace
        
    - name: Install packaging deps
      run: |
        conda install --yes --quiet 'sphinx==7.3.7' pandoc
        pip install "pyinstaller==6.10.0"
        
    - name: Build embedded help docs
      run: |
        sphinx-build docs/user_manual/reference cytoflowgui/help
        
    - name: Build GUI binary
      run: |
        pyinstaller package/pyinstaller.spec
        
    - name: List dist
      run: ls dist/
        
    - name: Rename and zip Mac app
      run: |
        cd dist/
        mv Cytoflow.app Cytoflow-${{steps.tag.outputs.tag}}.app
        zip -r cytoflow-gui-${{steps.tag.outputs.tag}}.macos.zip Cytoflow-${{steps.tag.outputs.tag}}.app/
        rm -rf Cytoflow-${{steps.tag.outputs.tag}}.app cytoflow
        
    - name: List dist
      run: ls dist/
      
    - name: Upload the point-and-click tarball to the GitHub release
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ github.event.client_payload.release_url }} 
        asset_path: dist/cytoflow-gui-${{steps.tag.outputs.tag}}.macos.zip
        asset_name: cytoflow-gui-${{steps.tag.outputs.tag}}.macos.zip
        asset_content_type: application/zip
