# (c) Massachusetts Institute of Technology 2015-2018
# (c) Brian Teague 2018-2022
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 2 of the License, or
# (at your option) any later version.
# 
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.

name: Test and package on MacOS (ARM)
on: [push]
jobs:
      
  test-on-macos:
    name: Run nose2 on ARM MacOS runner
    runs-on: macos-14
    defaults:
      run:
        shell: bash -l {0}
    steps:
    - name: Check out repo
      uses: actions/checkout@v4.2.2
      with:
        submodules: true  
      
    - name: Remove lines with [win]
      run: |
        sed -i '/\[win\]/d' package/environment-build.yml
      
    - name: Setup Miniconda
      uses: conda-incubator/setup-miniconda@v3.2.0
      with:
        auto-update-conda: true
        channels: defaults, cytoflow, conda-forge
        channel-priority: flexible
        activate-environment: cytoflow
        environment-file: package/environment-build.yml
    
    - name: Install package locally
      run: |
        pip install --editable .
        
    - name: Run cytoflow tests
      env:
        OMP_NUM_THREADS: 1
      run: |
        nose2 -v -c package/nose2.cfg cytoflow.tests

#     - name: Run cytoflowgui tests
#       env:
#         OMP_NUM_THREADS: 1
#       run: |
#         nose2 -v -c package/nose2.cfg cytoflowgui.tests -GUI        

    
  build-macos-conda-package:
    name: Build MacOS ARM conda package
    runs-on: macos-14
    needs: test-on-macos
    defaults:
      run:
        shell: bash -l {0}
    steps:
    - name: Check out repo
      uses: actions/checkout@v4.2.2
      with:
        fetch-depth: 0
        submodules: true
      
    - name: Remove lines with [win]
      run: |
        sed -i '/\[win\]/d' package/environment-build.yml
      
    - name: Setup Miniconda
      uses: conda-incubator/setup-miniconda@v3.2.0
      with:
        auto-update-conda: true
        channels: defaults, cytoflow, conda-forge
        channel-priority: flexible
        activate-environment: cytoflow
        environment-file: package/environment-build.yml
        
    - name: Build conda package
#       continue-on-error: true
      run: |
        conda render package/conda_recipes/cytoflow
        conda build package/conda_recipes/cytoflow
        
#     - name: Zip up the build directory
#       run: |
#         zip -r conda-build.zip /Users/runner/miniconda3/envs/cytoflow/conda-bld/
#         
#     - name: Save the contents of the conda-build folder as artifacts
#       uses: actions/upload-artifact@v4.3.6
#       with:
#         name: macos-arm-conda-build-dir
#         retention-days: 7
#         path: conda-build.zip
        
    - name: Move conda package into the dist folder
      run: |
        mkdir dist
        mv `conda build --output package/conda_recipes/cytoflow/` dist
        
    - name: Copy package/environment-build.yml into the dist folder
      run: |
        cp pacakge/environment-build.yml dist/
        
    - name: List dist
      run: ls dist/
      
    - name: Save the contents of the dist/ folder as artifacts
      uses: actions/upload-artifact@v4.3.6
      with:
        name: macos-conda-package
        retention-days: 7
        path: dist/*

  build-macos-wheels:
    name: Build MacOS ARM wheels
    needs: test-on-macos
    runs-on: macos-14
    defaults:
      run:
        shell: bash -l {0}
    steps:
    - name: Check out repo
      uses: actions/checkout@v4.2.2  
      with:
        fetch-depth: 0
        submodules: true
      
    - name: Remove lines with [win]
      run: |
        sed -i '/\[win\]/d' package/environment-build.yml
      
    - name: Setup Miniconda
      uses: conda-incubator/setup-miniconda@v3.2.0
      with:
        auto-update-conda: true
        channels: defaults, cytoflow, conda-forge
        channel-priority: flexible
        activate-environment: cytoflow
        environment-file: package/environment-build.yml
        
    - name: Install packaging deps
      run: |
        pip install build
            
    - name: Install package locally
      run: |
        pip install --editable .
        
    - name: Build wheel
      run: |
        python -m build --wheel
        
    - name: Move C++ extensions into the dist folder
      run: |
        cp `find build | grep "\.so$"` dist/
        
    - name: List dist
      run: ls dist/
      
    - name: Save the contents of the dist/ folder as artifacts
      uses: actions/upload-artifact@v4.3.6
      with:
        name: macos-wheels
        retention-days: 7
        path: dist/*   
        
  build-macos-oneclick:
    name: Build MacOS ARM one-click
    needs: test-on-macos
    runs-on: macos-14
    defaults:
      run:
        shell: bash -l {0}
    steps:
    - name: Check out repo
      uses: actions/checkout@v4.2.2  
      with:
        fetch-depth: 0
        submodules: true
        
    - name: Query git tag
      id: tag
      run: echo "GIT_TAG=$(git describe --tags)" >> $GITHUB_ENV
        
    - name: Show Tag
      id: display
      run: |
        echo "Output from Find Tag: ${GIT_TAG}"
      
    - name: Remove lines with [win]
      run: |
        sed -i '/\[win\]/d' package/environment-build.yml
      
    - name: Setup Miniconda
      uses: conda-incubator/setup-miniconda@v3.2.0
      with:
        auto-update-conda: true
        channels: defaults, cytoflow, conda-forge
        channel-priority: flexible
        activate-environment: cytoflow
        environment-file: package/environment-build.yml
            
    - name: Install package locally
      run: |
        pip install --editable .
        
    - name: Build embedded help docs
      run: |
        sphinx-build docs/user_manual/reference cytoflowgui/help
        
    - name: Build GUI binary
      run: |
        pyinstaller package/pyinstaller.spec
        
    - name: List dist
      run: ls dist/
        
    - name: Rename and zip Mac app
      run: |
        cd dist/
        mv Cytoflow.app Cytoflow-${GIT_TAG}.app
        zip -r cytoflow-${GIT_TAG}.macos.zip Cytoflow-${GIT_TAG}.app/
        rm -rf Cytoflow-${GIT_TAG}.app cytoflow
        
    - name: List dist
      run: ls dist/
      
    - name: Save the contents of the dist/ folder as artifacts
      uses: actions/upload-artifact@v4.3.6
      with:
        name: macos-oneclick
        retention-days: 7
        path: dist/*