# (c) Massachusetts Institute of Technology 2015-2018
# (c) Brian Teague 2018-2022
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 2 of the License, or
# (at your option) any later version.
# 
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.

name: Test and package on Windows
on: [push]
jobs:     
  test-on-windows:
    name: Run nose2 on Windows runner
    runs-on: windows-2022
    defaults:
      run:
        shell: bash -l {0}        
    steps:
    - name: Check out repo
      uses: actions/checkout@v4.1.7    
      with:
        submodules: true    
        
    - name: Remove nomkl
      run: |
        sed -i '/nomkl/d' environment.yml
      
    - name: Setup Miniconda
      uses: conda-incubator/setup-miniconda@v3.0.4
      with:
        auto-update-conda: true
        activate-environment: cytoflow
        environment-file: environment.yml
              
    - name: Configure conda
      run: |
        conda install --yes --quiet swig==4.0.2
    
    - name: Install package locally
      run: |
        python setup.py build_ext --inplace
        
    - name: Install nose2
      run: |
        pip install nose2
        
    - name: Run cytoflow tests
      env:
        OMP_NUM_THREADS: 1
      run: |
        nose2 -v -c package/nose2.cfg cytoflow.tests

#     - name: Run cytoflowgui tests
#       env:
#         OMP_NUM_THREADS: 1
#       run: |
#         nose2 -v -c package/nose2.cfg cytoflowgui.tests -GUI        

    
  build-windows-conda-package:
    name: Build windows conda package
    runs-on: windows-2022
    defaults:
      run:
        shell: bash -l {0}
    needs: test-on-windows
    steps:
    - name: Check out repo
      uses: actions/checkout@v4.1.7
      with:
        fetch-depth: 0
        submodules: true
        
    - name: Remove nomkl
      run: |
        sed -i '/nomkl/d' environment.yml
      
    - name: Setup Miniconda
      uses: conda-incubator/setup-miniconda@v3.0.4
      with:
        auto-update-conda: true
        activate-environment: cytoflow
        environment-file: environment.yml
                
    - name: Configure conda
      run: |
        conda install --yes --quiet swig==4.0.2 anaconda-client conda-build conda-verify
        
    - name: Build conda package
      run: |
        conda render package/conda_recipes/cytoflow
        conda build --debug package/conda_recipes/cytoflow
        
    - name: Move conda package into the dist folder
      run: |
        mkdir dist
        python package/move_conda_package.py
        
    - name: Copy environment.yml into the dist folder
      run: |
        cp environment.yml dist/
        
    - name: List dist
      run: ls dist/
      
    - name: Save the contents of the dist/ folder as artifacts
      uses: actions/upload-artifact@v4.3.6
      with:
        name: windows-conda-package
        retention-days: 1
        path: dist/*

  build-windows-wheels:
    name: Build source dist, linux wheels
    needs: test-on-windows
    runs-on: windows-2022
    defaults:
      run:
        shell: bash -l {0}
    steps:
    - name: Check out repo
      uses: actions/checkout@v4.1.7  
      with:
        fetch-depth: 0
        submodules: true
        
    - name: Remove nomkl
      run: |
        sed -i '/nomkl/d' environment.yml
      
    - name: Setup Miniconda
      uses: conda-incubator/setup-miniconda@v3.0.4
      with:
        auto-update-conda: true
        activate-environment: cytoflow
        environment-file: environment.yml
    
    - name: Configure conda
      run: |
        conda install --yes --quiet swig==4.0.2 pip
    
    - name: Install package locally
      run: |
        python setup.py build_ext --inplace
        
    - name: Install packaging deps
      run: |
        pip install build
        
    - name: Build wheel
      run: |
        python -m build --wheel
        
    - name: Move C++ extensions into the dist folder
      run: |
        cp `find build | grep "\.pyd$"` dist/
        
    - name: List dist
      run: ls dist/
      
    - name: Save the contents of the dist/ folder as artifacts
      uses: actions/upload-artifact@v4.3.6
      with:
        name: windows-wheels
        retention-days: 1
        path: dist/*   
        
  build-windows-oneclick:
    name: Build Windows one-click
    needs: test-on-windows
    runs-on: windows-2022
    defaults:
      run:
        shell: bash -l {0}
    steps:        
    - name: Check out repo
      uses: actions/checkout@v4.1.7  
      with:
        fetch-depth: 0
        submodules: true
        
    - name: Show all the files
      run: find .
      
    - name: Query git tag
      id: tag
      run: echo "GIT_TAG=$(git describe --tags)" >> $GITHUB_ENV
        
    - name: Show Tag
      id: display
      run: |
        echo "Output from Find Tag: ${GIT_TAG}"
        
    - name: Remove nomkl
      run: |
        sed -i '/nomkl/d' environment.yml
      
    - name: Setup Miniconda
      uses: conda-incubator/setup-miniconda@v3.0.4
      with:
        auto-update-conda: true
        activate-environment: cytoflow
        environment-file: environment.yml
                      
    - name: Configure conda
      run: |
        conda install --yes --quiet swig==4.0.2
            
    - name: Install package locally
      run: |
        python setup.py build_ext --inplace
        
    - name: Install packaging deps
      run: |
        conda install --yes --quiet 'sphinx==7.3.7' pandoc
        pip install "pyinstaller==6.10.0"
        
    - name: Build embedded help docs
      run: |
        sphinx-build docs/user_manual/reference cytoflowgui/help
        
    - name: Build GUI binary
      run: |
        pyinstaller package/pyinstaller.spec
        
    - name: Build installer
      run: |
        "C:\Program Files (x86)\NSIS\makensis.exe" //NOCD package/installer.nsis
        
    - name: Rename installer and remove remaining files
      run: |
        cd dist
        mv cytoflow-installer.exe cytoflow-installer-${$GIT_TAG}-win-amd64.exe
        rm -rf cytoflow
        
    - name: List dist
      run: ls dist/
      
    - name: Save the contents of the dist/ folder as artifacts
      uses: actions/upload-artifact@v4.3.6
      with:
        name: windows-oneclick
        retention-days: 1
        path: dist/*

